*{
    margin: 0;
    padding: 0;
    transition: .5s;
}

body{
    background: #262626;
}

.container{
    width: 600px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.container img{
    width: 100%;
}

.container img:hover,
.container h1:hover{
    filter: blur(15px);
}